.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

header {
    height:150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin : auto;
    background-image: url(alaska.jpg);
}

/*footer {
    display: flex;
    justify-content: space-around;
}*/

.news{
    margin:auto;
}

h2 {
    text-decoration-color: red;
}

.formulaire {
    display:flex;
    justify-content:space-around;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

body {
    padding-top: 50px;
  }
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }