footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

header {
    height:150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin : auto;
  }


h2 {
    text-decoration-color: red;
}

.formulaire {
    margin-top: 100 px;
    padding-top: 10px;
    
}

.news 
{
  border:solid black 1px;
  border-radius: 10px;
  padding:10px;
  margin-top:10px;
  text-align:left;
}

body {
      
    padding:50px;
    margin:auto;
    text-align:center;
   
    
  }
 
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    text-align: center;

  }

  .bio {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;

  }

  
  [class*="col-"] {
    line-height: 40px;
    text-align: center;
  }

  

 

  .fieldset {

    text-align:center;
  }

  .backendTemplate {
    background-color: lightgray;
  }

  .disconnect {
text-decoration: deeppink;

  }

  .idform   {
    background-color: red;
    margin:auto;
    text-align:center;
  }

  .btn {
    background-color: red;
    margin:auto;
  }

  .bioimage {

    float:left;
    border: 1px,solid,black;
    margin-right: 5px;
  }


  
 .btn {

  margin:10px;
  text-align: center;
 }

 .form-control {

  margin:auto;
  text-align: center;
  width:70%;
 }

 .title {
   display:inline;
 }

.top-img {

  display:flex;
  justify-content:space-around;
  margin-top:20px;
  height:100px;
  
}

.commentlist {

  display:block;
  margin:auto;
  text-align: center;
  border:solid black 1px;
  border-radius: 10px;
  padding:10px;
  margin-top:10px;

}

.commenttitle {
  
  text-decoration: bold italic;
  margin:auto;
 
}

.postcommenttitle {

  border:solid black 1px;
  border-radius: 25% 10%;
  padding:10px;
  margin-top:10px;
  background-color: lightgrey;
}
