.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

header {
    height:150px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin : auto;
    background-image: url('/BLOG/public/css/alaska.jpg');
}


h2 {
    text-decoration-color: red;
}

.formulaire {
    margin-top: 100 px;
    
    padding-top: 10px;
    
}

body {
      
    padding:50px;
    margin:auto;
    text-align:center;
   
    
  }
 
  .starter-template {
    padding: 40px 15px;
    text-align: center;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    text-align: center;

  }

  .bio {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
    text-align: left;

  }

  
  [class*="col-"] {
    line-height: 40px;
    text-align: center;
  }

  

  .mark {
      margin-left: 10 px;
      text-decoration-color: firebrick;
  }

  .fieldset {

    text-align:center;
  }

  .backendTemplate {
    background-color: lightgray;
  }

  .disconnect {
text-decoration: deeppink;

  }

  .idform   {
    background-color: red;
    margin:auto;
    text-align:center;
  }

  .btn {
    background-color: red;
    margin:auto;
  }

  .bioimage {

    float:left;
    border: 1px,solid,black;
    margin-right: 5px;
  }

 .separator {

  display:block;
  height: 30px;
  background-color: red;

 }
  